<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">添加评论</a></li>
    </ul>
    </div>
    <div class="formbody">
    
    <div class="formtitle"><span>添加评论</span></div>
    <form action="addcomment" method="post">
    <ul class="forminfo">
    <li><label>用户名</label><input name="user_name" type="text" class="dfinput" th:value="${comment.user_name}"/></li>
    <li><label>内容</label><input name="comment" type="text" class="dfinput" th:value="${comment.comment}"/></li>
    <li><label>时间</label><input name="time" type="text" class="dfinput"  th:value="${comment.time}"/></li>
    <li><button type="submit" class="btn" >save</button></li>
    </ul>
    </form>
     <span th:text="${msg}"></span>
    </div>


</body>

</html>
