<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">查询图书</a></li>
    </ul>
    </div>
    
    <ul class="forminfo">
			     <li>  <input name="id" type="hidden" class="dfinput" th:value="${id!=null}?${book.id}"/></li>
			    <li><label>书名</label><input name="name" type="text" class="dfinput" th:value="${book!=null}?${book.name}"/></li>
			    <li><label>编者</label><input name="creater" type="text" class="dfinput" th:value="${book!=null}?${book.creater}"/></li>
			    <li><label>发布时间</label><input name="create_time" type="text" class="dfinput"  th:value="${book!=null}?${book.create_time}"/></li>
			    <li><label>出版社</label><input name="publishing" type="text" class="dfinput"  th:value="${book!=null}?${book.publishing}"/></li>
			     <li><label>价格</label><input name="price" type="text" class="dfinput" th:value="${book!=null}?${book.price}"/></li>
			    </ul>
    
    <div class="formbody">
    
   
    </div>


</body>

</html>
