<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				<mapper namespace="com.mapper.CommentMapper">
					
					<select id="selectAll" resultType="Comment">
						select * from comment						
					</select>
					
					<select id="selectcommentSum" resultType="int">
						select count(*) from comment
					</select>
					<insert id="addComment"  useGeneratedKeys="true" keyProperty="id"  parameterType="Comment">
						insert into comment (user_name,comment,time) values (#{user_name},#{comment},#{time});
					</insert>	
					
					<delete id="del_comment" parameterType="int">
						delete from comment where id =#{id}
					</delete>
					
					<select id="getCommentByname" parameterType="String" resultType="Comment">
						select * from comment where user_name = #{user_name}
					</select>
					
					<update id="update_user" parameterType="Comment">
						update comment set user_name= #{user_name},comment= #{comment} ,time =
						#{time} where id = #{id}
					</update>
				</mapper>